{% extends 'app/base.html' %}
{% block title %}Signup{% endblock%}
{% block content %}
{% load widget_tweaks %}
<h2 style="margin: 10px; color:white">Sign up</h2>
<form method="post" enctype="multipart/form-data" style="margin: 10px;">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label class="form-label" style="color:white">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="is_staff" name="is_staff">
        <label class="form-check-label" for="is_staff" style="color:white;">Cadastrar como staff</label>
    </div>
    <button type="submit" class='btn btn-success'>Cadastrar</button>
    <a href="{% url 'login' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}